<div class="container">

  <div class="city-list">
    <h1> Weather Application</h1>
    
    
    <br>
    <br>
    <div class="search">
      <form>
      <input type="text" name="cityName" [(ngModel)]="city" placeholder="search city">
      </form></div>
      &nbsp;&nbsp;
      <button (click)="getWeather()">Display Weather</button>
      <br/>
      <br/>
      <p class="error-message" *ngIf="error">{{ error }}</p>
  
    </div>
  
    <div class="weather-display" *ngIf="weatherData">
      <div class="upper-data">
        <img src="../assets/image/bac.jpg" height="500px">{{ weatherData.name }} > 15">
        <img src="../assets/image/bac.jpg">{{ weatherData.name }} <= 15">
        <div class="weather-data">
       
          <div class="temperature"></div>{{ kelvinToCelsius(weatherData.main.temp) | number:'1.0-1' }}°C </div>
        </div>
      </div>
      <div class="lower-data">
        <div class="more-info-label">
          More Information
        </div>
        <div class="more-info-container">
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/image/minum.png">
              <span>min</span>
            </div>
            <div class="info-block-value">
              {{ weatherData.main.temp_min }}°C
            </div>
          </div>
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/image/maxi.jpg">
              <span>max</span>
            </div>
            <div class="info-block-value">
              {{ weatherData.main.temp_max }}°C
            </div>
          </div>
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/image/dimi.png">
              <span>humidity</span>
            </div>
            <div class="info-block-value">
              {{weatherData.main.humidity}} %
    
            </div>
          </div>
          <div class="info-block">
            <div class="info-block-label">
              <img src="../assets/image/win.png">
              <span>wind</span>
            </div>
            <div class="info-block-value">
              {{weatherData && weatherData.wind && weatherData.wind.speed}} km/h
    
            </div>
          </div>
          
    
        </div>
    
      </div>
    </div>

  